workflows/DELETE eliminar.json
{
  "name": "DELETE eliminar",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "eliminar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "68fdcb4e-a3e9-4d07-b6b9-22ecff65551a",
      "name": "Webhook",
      "webhookId": "d2c30fd3-cb6e-45de-b55a-678e2c62eab8"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM tickets WHERE id = {{ $json.body.id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "7445a2d5-6a56-48c5-be08-f0b414bc58d8",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "YezDfnkeOU0dXfX6",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "0a28d0bf-4048-423b-84b7-75f643650325",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "RBSK865tW62GsLau",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "1aeddc88-2dfa-4be6-b0ee-942c673ea43d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "022fd8cfe053e5ed93b2fd06ba2f4acaa51debbc8a0d11ab13d0ef0f9c6de79c"
  },
  "id": "VilMfXNik9IrUQIz",
  "tags": []
}